<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% comment %}  book is the default object or we can put object {% endcomment %}
    <h1> {{book.title}} Details</h1>
    fyuy7f
    <ul>
        <li>Title : {{book.title}}</li>
        <li>Author : {{book.author}}</li>
        <li>Pages : {{book.pages}}</li>
        <li>Price : {{book.price}}</li>
    </ul>
    <a href="/update/{{book.id}}" class = "btn btn-primary"> Edit Book</a>
    <a href="/delete/{{book.id}}" class = "btn btn-primary"> Delete Book</a>
</body>