<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
            crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" align = 'center'>
        <h1>Do you really want to delete {{book.title}} </h1>
        <form action="" method = "post">
            {% csrf_token %}
            
            <input type="submit" value = "Delete Book" class = "btn btn-danger">
            <a href="/list" class = "btn btn-success"> Cancel</a>
        </form>
    </div>
</body>
</html>